@import "tailwindcss";

:root {
  font-size: 75%;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
/* Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* IE */
.hide-scrollbar {
  -ms-overflow-style: none;
}